@model Pemesanan_Makanan.Models.Pesanan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pesanan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaMakanan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaMakanan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keterangan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdminNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdminNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustumerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustumerNavigation.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMakananNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMakananNavigation.Keterangan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPesanan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
