@model IEnumerable<Pemesanan_Makanan.Models.Pembeli>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telpon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordCustumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telpon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordCustumer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCustumer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCustumer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCustumer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
